{% load static %}
{% block sidebar %}

    <div class="vertical-menu">
        <div data-simplebar class="h-100">
            <div id="sidebar-menu">
                <ul class="metismenu list-unstyled" id="side-menu">
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="bx bx-menu-alt-left"></i><span key="t-menu">Menu</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a class="waves-effect" href="{% url 'dashboard' %}"><i
                                    class="bx bxs-dashboard"></i>Dashboard</a></li>
                            <li><a class="waves-effect" href="{% url 'wallet' %}"><i
                                    class="bx bx-wallet"></i>Wallet</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>

{% endblock %}
