{% load static %} {% block sidebar %}

    <div class="vertical-menu">
        <div data-simplebar class="h-100">

            <div id="sidebar-menu">

                <ul class="metismenu list-unstyled" id="side-menu">
                    <li class="menu-title" key="t-menu">Menu</li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="bx bx-home-circle"></i>
                            <span key="t-dashboards">Dashboard</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a class="waves-effect" href="{% url 'dashboard' %}" key="t-default">Main</a></li>
                            <li><a href="{% url 'wallet' %}">Wallet</a></li>
                            <li><a href="{% url 'investment' %}">Investment</a></li>
                        </ul>
                    </li>

                </ul>
            </div>

        </div>
    </div>

{% endblock %}
